.btn-blue {
  background: #174fba;
  border-radius: 50px;
  padding: 8px 20px;
  color: #fff;
  font-weight: 600;
}
._2pGos._hsN1w {
  background: #174fba;
  border-radius: 50px;
  padding: 8px 26px;
  color: #fff;
  font-weight: 600;
}

.btn-black {
  background: #000000;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
}

._1Lo2h {
  margin-bottom: 40px !important;
  li {
    ._2JvrO {
      display: none;
    }
    ._2kL0S {
      display: none;
    }
  }
  ._2Jtxm::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 10px;
    width: 100%;
    right: 50%;
    transform: translateY(-50%);
    z-index: -1;
    // background: linear-gradient(to left, #e7eaf3 50%, #b14d4d 50%);
    background: linear-gradient(to left, #ffffff 50%, #174fba 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 200ms ease-in-out;
  }
}

._3uApM {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  position: relative;
  top: -120px;
  // padding: 0 5%;
  margin: 0 29%;
}
._53Ji7 {
  padding: 0rem !important;
}

.formbox {
  background: #fff;
  min-height: 62vh;
  border-radius: 15px;
  padding: 15px 30px;
  margin: 0 26%;
  box-shadow: 4px 3px 4px 0px #bbb8b8;

  .body {
    min-height: 40vh;
  }
}

// Input
// ====================

input {
  width: 100%;
  height: 45px;
  padding: 5px 15px;
  display: block;
  margin-bottom: 14px;
}
.input-signup {
  box-shadow: 0px 2px 3px 1px #8b8b8b;
}
.errormsg {
  color: #fb2424;
  font-size: 12px;
  position: absolute;
  margin-top: -13px;
  font-weight: 400;
}
.loginError {
  // color: #fb2424;
  // font-size: 13px;
  // position: absolute;
  // margin-top: 70px;
  // font-weight: 400;
  // right: 410px;
  margin-top: 72px;
  margin-left: 45px;
}

.signup {
  input,
  select,
  option {
    border: 2px solid rgba(0, 0, 255, 0.7);
    border-radius: 3px;
  }

  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
    background-color: #ffffff;
  }
  .ant-steps-item-title::after {
    position: absolute;
    top: 16px;
    left: 100%;
    display: block;
    width: 9999px;
    height: 10px;
    background: #ffffff;
    content: "";
  }
  .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
    background-color: #ffffff;
  }
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
    background: #1890ff;
    display: none;
  }
  // .ant-steps {
  //   margin-bottom: 40px;
  // }
  .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
    color: rgba(0, 0, 0, 0.25);
    display: none;
  }
  .error__feedback {
    color: #fb2424;
  }

  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    display: none;
  }
  .ant-steps-item-icon {
    width: 0;
    height: 0;
    margin: 0 0px 0 0;
  }
  .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
    padding-left: 0px;
  }
  .ant-steps-item-title {
    padding-right: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .formbox {
    margin: 0 10%;
  }
}
@media screen and (max-width: 800px) {
  .formbox {
    margin: 0 0%;
  }
}
